<div class="divContainer" >
    <section>
        <div class="topper">
            <svg xmlns="http://www.w3.org/2000/svg" width="3%" height="3%" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-phone"><path d="M22 16.92v3a2 2 0 0 1-2.18 2 19.79 19.79 0 0 1-8.63-3.07 19.5 19.5 0 0 1-6-6 19.79 19.79 0 0 1-3.07-8.67A2 2 0 0 1 4.11 2h3a2 2 0 0 1 2 1.72 12.84 12.84 0 0 0 .7 2.81 2 2 0 0 1-.45 2.11L8.09 9.91a16 16 0 0 0 6 6l1.27-1.27a2 2 0 0 1 2.11-.45 12.84 12.84 0 0 0 2.81.7A2 2 0 0 1 22 16.92z"/>
            </svg>
            <h1 >Phone Book App</h1>
        </div>
        
        <div class="divContain" class="topper">
            <p class="p1">
                <span><h1>Contacts</h1></span>
            </p>
            <p class="p2">  
                <button class="btn btn-primary"  (click)="openModal()">+Add Contact</button>
            </p>
        </div>
        
        <input  type="text" class="form-control" (input)="Search()" [(ngModel)]="searchByVal" placeholder="Search Here">

        <div class="div1">
           Sort by:&nbsp;
            <select (change)="sortBy()" [(ngModel)]="sortBySomething">
                <option value="Asc" >Ascending(A-Z)</option>
                <option value="Desc" selected >Descending(Z-A)</option>
            </select>
        </div>
        <section class="sectionInside">
            <div class="bg" *ngFor="let contact of contacts">
                <p class="p-column-start equal" >
                   <span><b>{{contact.fname}} {{contact.lname}}</b></span>
                   <span>{{contact.phoneno}}</span>
                </p>
                <p class="p-row-end equal">
                    
                    <svg (click)="edit(contact)" width="3.4%" height="3%" viewBox="0 0 16 16" class="bi bi-pencil" fill="currentColor" xmlns="http://www.w3.org/2000/svg%22%3E">
                        <path fill-rule="evenodd" d="M11.293 1.293a1 1 0 0 1 1.414 0l2 2a1 1 0 0 1 0 1.414l-9 9a1 1 0 0 1-.39.242l-3 1a1 1 0 0 1-1.266-1.265l1-3a1 1 0 0 1 .242-.391l9-9zM12 2l2 2-9 9-3 1 1-3 9-9z"/>
                        <path fill-rule="evenodd" d="M12.146 6.354l-2.5-2.5.708-.708 2.5 2.5-.707.708zM3 10v.5a.5.5 0 0 0 .5.5H4v.5a.5.5 0 0 0 .5.5H5v.5a.5.5 0 0 0 .5.5H6v-1.5a.5.5 0 0 0-.5-.5H5v-.5a.5.5 0 0 0-.5-.5H3z"/>
                    </svg>
                    <button class="btn btn-danger" (click)="deleteRecord(contact)">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trash">
                            <polyline points="3 6 5 6 21 6"/><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"/>
                    </svg> 
                </button>
                </p>
            </div>
        </section>
    </section>
</div>