<section>
    <span>
        <h2>Edit Contact</h2>
    </span>
    <div>
        <span><strong>First Name</strong></span>
        <input type="text" #name class="form-control" [value]="data.fname">
    </div>
    <div>
        <span><strong>Last Name</strong></span>
        <input type="text" #lname class="form-control" [value]="data.lname">
    </div>
    <div>
        <span><strong>Phone No.</strong></span>
        <input type="text" #phoneno class="form-control" [value]="data.phoneno">
    </div>
    <div class="btn-end">
        <button class="btn btn-primary" (click)="onAdd(name.value, lname.value,phoneno.value)">Edit</button>&nbsp;&nbsp;
        <button class="btn btn-primary" (click)="close()">Cancel</button>&nbsp;&nbsp;
        
    </div>
</section>
